<div class="products-breadcrumb">
	<div class="container">
		<ul>
			<li><i class="fa fa-home" aria-hidden="true"></i><a href="/#/">Home</a><span>|</span></li>
			<li>Add A Product</li>
		</ul>
	</div>
</div>
<div class="clearfix"></div>
<div class="banner">
	<div ng-include="'partials/bannerleft.html'"></div>	
	<div class="w3l_banner_nav_right">			
		<div ng-if="showSuccess">
		  	<div class="isa_success">
		     	<i class="fa fa-check"></i>
		     	{{successmessage}}
		  	</div>		  		 
		</div>
		<div ng-if="showFailure">
			<div class="isa_error">
   				<i class="fa fa-times-circle"></i>
   					{{failuremessage}}
			</div>		  
		</div>
		<div class="col-md-8 address_form_agile address_form_agile_left">
			<h4>Add A Product</h4>
			<form class="creditly-card-form agileinfo_form" name="addproductform">
				<section class="creditly-wrapper wthree, w3_agileits_wrapper">
					<div class="information-wrapper">
						<div class="first-row form-group">
							<div class="controls">
								<label class="control-label">Title: </label>			
								<input ng-model="product.title" class="billing-address-name form-control" type="text" placeholder="Title">
							</div>
							<div class="w3_agileits_card_number_grids">
								<div class="w3_agileits_card_number_grid_left">
									<div class="controls">
										<label class="control-label">Description:</label>						
										<textarea ng-model="product.description" placeholder="Description" required=" " class="form-control form-control-txtarea"></textarea>
									</div>
								</div>
								<div class="w3_agileits_card_number_grid_right">
									<div class="controls">
										<label class="control-label">Price: </label>							
										<input type="text" ng-model="product.price" placeholder="Price" required=" " class="form-control"/>
									</div>
								</div>
								<div class="clear"></div>
							</div>
							<div class="controls">
								<label class="control-label">Quantity: </label>				
								<input type="text" ng-model="product.quantity" placeholder="Quantity" required=" " class="form-control"/>
							</div>
							<div class="controls">
								<label class="control-label">Category: </label>
								<select class="form-control option-w3ls" ng-model="product.category" ng-options="categoryap.cname for categoryap in categoriesAP">						
								</select>
							</div>
							<div class="controls">
								<input type="file" ngf-select ng-model="fileforupload" name="file" ngf-pattern="'image/*'" accept="image/*" ngf-max-size="20MB" required />
	            		  		Image thumbnail: <img style="width:100px;" ngf-thumbnail="fileforupload || '/thumb.jpg'"/>
	            		  		<i ng-show="addproductform.file.$error.required">*required</i><br>
	            		  		<i ng-show="addproductform.file.$error.maxSize">File too large {{up.file.size / 1000000|number:1}}MB: max 20M</i>			
            		  		</div>		  
						</div>
						<button class="submit check_out button_left_margin" ng-click="addProduct()">Add Product</button>
						<button class="submit check_out" ng-click="cancel()">Cancel</button>						
					</div>
				</section>
			</form>			
		</div>
		<div class="clearfix"></div>		
	</div>
</div>
<div class="clearfix"></div>