	<div class="products-breadcrumb">
		<div class="container">
			<ul>
				<li><i class="fa fa-home" aria-hidden="true"></i><a href="index.html">Home</a><span>|</span></li>
				<li>Sign In & Sign Up</li>
			</ul>
		</div>
	</div>
		<div class="w3_login">
			<h3>Sign In & Sign Up</h3>
			<div class="w3_login_module">
				<div class="module form-module">
				  <div class="toggle" ng-click="loginSignupToggle($event)" selectot="divLogin"><i class="fa fa-times fa-pencil"></i>
					<div class="tooltip">{{lblLoginSignup}}</div>
				  </div>
				  <div class="form" ng-if="!isSignup">
					<h2>Login to your account</h2>
					<form action="/api/authentication/login" method="post">
					  <input type="text" name="username" placeholder="Username" required=" ">
					  <input type="password" name="password" placeholder="Password" required=" ">
					  <input type="submit" value="Login">
					</form>
				  </div>
				  <div class="form" ng-if="isSignup">
					<h2>Create an account</h2>
					<form action="/api/authentication/register" method="post" name="signupform">
					  <input ng-model="susername" type="text" name="username" placeholder="Username" required ng-blur="validateUserName()">
					  <label ng-show="signupform.username.$touched && signupform.username.$invalid" class="login_error_label">Username is required</label>
					  <label ng-show="userexistsmessage" class="login_error_label">{{usernamemessagetxt}}</label>
					  <input ng-model="password" type="password" name="password" placeholder="Password" required="" >
					  <label ng-show="signupform.password.$touched && signupform.password.$invalid" class="login_error_label">Password is required</label>
					  <input ng-model="semail" type="email" name="email" placeholder="Email Address" required="">
					  <label ng-show="signupform.email.$touched && signupform.email.$invalid" class="login_error_label">Email is required</label>
					  <input ng-model="sphone" type="text" name="phone" placeholder="Phone Number" required="" maxlength="10" numbers-only="" minlength="10">
					  <label ng-show="signupform.phone.$touched && signupform.phone.$invalid" class="login_error_label">Phone is required and should be 10 digits</label>
					  <input type="submit" value="Register">
					</form>
				  </div>
				  <div class="cta"><a href="#">Forgot your password?</a></div>
				</div>
			</div>			
		</div>
		</div>
		<div class="clearfix"></div>
	</div>