	<div ng-if="showSuccess">
	  	<div class="isa_success">
	     	<i class="fa fa-check"></i>
	     	{{successmessage}}
	  	</div>		  		 
	</div>
	<div ng-if="showFailure">
		<div class="isa_error">
				<i class="fa fa-times-circle"></i>
			{{failuremessage}}
		</div>		  
	</div>
	<div class="banner">
		<div ng-include="'partials/bannerleft.html'"></div>
		<div class="w3l_banner_nav_right">
			<div class="agileinfo_single" ng-if="!editproduct">
				<h5>{{product.title}}</h5>
				<div class="col-md-4 agileinfo_single_left">
					<img id="example" src="images/{{product.picture}}.png" alt=" " class="img-responsive" />
				</div>
				<div class="col-md-8 agileinfo_single_right">					
					<div class="w3agile_description">
						<h4>Description :</h4>
						<p>{{product.description}}</p>
					</div>
					<div class="w3agile_description">
						<h4>In Stock :</h4>
						<p>{{product.quantity}}</p>
					</div>
					<div class="w3agile_description">
						<label>Quantity :</label> <input type="number" name="quantity" min="1" max="10" default="1" ng-model="product.myquantity"/>
					</div>
					<div class="snipcart-item block">
						<div class="snipcart-thumb agileinfo_single_right_snipcart">
							<h4>Price :</h4>
							<h4>{{product.price | currency}}</h4>
						</div>
						<div class="snipcart-details agileinfo_single_right_details">
							<form  method="post">
								<fieldset>																								
											<input type="hidden" name="item_name" value="{{product.title}}" />
											<input type="hidden" name="amount" value="{{product.price}}" />													
										    <input type="hidden" name="currency_code" value="USD" />																					
											<input type="submit" name="submit" value="Add to cart" class="button" ng-click="addtocart(product)"/>

								</fieldset>
							</form>
							<div>
								<input type="submit" value="Edit Product" class="button adminbutton" ng-if="isadmin" ng-click="editProduct(product)"/>
								<input type="submit" value="Delete Product" class="button adminbutton" ng-if="isadmin && !product.safedelete" ng-click="safeDelete(product)"/>
								<input type="submit" value="Add Product" class="button adminbutton" ng-if="isadmin && product.safedelete" ng-click="undoSafeDelete(product)"/>
							</div>							
						</div>
					</div>
				</div>				
				<div class="clearfix"> </div>
			</div>
			<div class="agileinfo_single" ng-if="editproduct">
				<div class="col-md-4 agileinfo_single_left">
					<img id="example" src="images/{{product.picture}}.png" alt=" " class="img-responsive" />
				</div>
				<div class="col-md-8 agileinfo_single_right">
					<div class="w3agile_description">
						<h4>Title :</h4>
						<input type="text" ng-model="product.title" />
					</div>
					<div class="w3agile_description">
						<h4>Description :</h4>
						<input type="text" ng-model="product.description" />						
					</div>
					<div class="w3agile_description">
						<h4>In Stock :</h4>
						<input type="text" ng-model="product.quantity" />						
					</div>
					<div class="w3agile_description">
						<h4>Price :</h4>
						<input type="text" ng-model="product.price | currency" />						
					</div>	
					<div class="snipcart-item block">							
						<div class="snipcart-details agileinfo_single_right_details">
							<div>
								<input type="submit" value="Save Changes" class="button adminbutton" ng-if="isadmin" ng-click="saveChanges(product)"/>
								<input type="submit" value="Delete Product" class="button adminbutton" ng-if="isadmin && !product.safedelete" ng-click="safeDelete(product)"/>
								<input type="submit" value="Add Product" class="button adminbutton" ng-if="isadmin && product.safedelete" ng-click="undoSafeDelete(product)"/>
							</div>							
						</div>
					</div>				
				</div>				
				<div class="clearfix"> </div>
			</div>					
		</div>
		<div class="clearfix"></div>
	</div>